
@Scripts.Render("~/Scripts/scrpitsAJAX/Ajax_egreso.js")
@Styles.Render("~/Content/css")
@Styles.Render("~/Scripts/ScriptSistema/global/plugins.bundle.css")
@Styles.Render("~/Content/css/style.bundle.css")
@Styles.Render("~/Scripts/ScriptSistema/custom/fullcalendar/fullcalendar.bundle.css")
@Scripts.Render("~/Scripts/ScriptSistema/global/plugins.bundle.js")
@Scripts.Render("~/Scripts/ScriptSistema/scripts.bundle.js")
@Scripts.Render("~/Scripts/ScriptSistema/pages/dashboard.js")

@model Creditos.Models.mEgresos

@{
    List<Creditos.Models.mEgresos> listEgreso = ViewBag.egresos;
}
<h1>EGRESOS</h1>
@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="form-group">
        <label>Valor</label>
        @Html.TextBoxFor(m => m.valor, new { @id = "valors", @class = "form-control", @placeholder = "Valor", @name = "valor" })
    </div>
            @Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })
            <div>
                <label>Tipo Egreso </label>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.tipo_egreso_id, ViewBag.tipoegresos as SelectList, "--Tipo de Egreso--", new { @id = "tipo_egreso_ids", @class = "form-control" })
                </div>
            </div>
            <div>
                <label>Mes </label>
                <div class="form-group">
                    @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_ids", @class = "form-control" })
                </div>
            </div>
            <div>
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
}
<table class="table-hover">
    <tr>
        <th>Item</th>
        <th>Valor</th>
        <th>Tipo Egreso</th>
        <th>Mes</th>
        <th>Acciones</th>
    </tr>
    @foreach (var item in listEgreso)
    {
        <tr class='row_@item.id_egresos'>
            <td>@item.id_egresos</td>
            <td>@item.valor</td>
            <td>@item.tipoegreso</td>
            <td>@item.mes</td>
            <td>
                <a href='#' class='btn btn-danger' onclick='DeleteEgreso(@item.id_egresos)'><span class='flaticon2-rubbish-bin'></span></a>
                <a href='#' class='btn btn-info' data-id="@item.id_egresos" onclick='EditEgreso(@item.id_egresos)'><span class='flaticon2-pen'></span></a>
            </td>
        </tr>
    }
</table>
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Modificar Egresos</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.id_egresos, new { @id = "id_egresos" })
                        <div class="form-group">
                            <label>Valor</label>
                            @Html.TextBoxFor(m => m.valor, new { @id = "valor", @class = "form-control", @placeholder = "Name*" })
                        </div>
                        @Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })
                        <div class="form-group">
                            <label>Tipo de Egreso</label>
                            @Html.DropDownListFor(m => m.tipo_egreso_id, ViewBag.tipoegresos as SelectList, "--Tipo de Egreso--", new { @id = "tipo_egreso_id", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Mes</label>
                            @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_id", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-danger" onclick="UpdateEgreso()">Guardar</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
