@Scripts.Render("~/Scripts/paginacion.js")

@model Creditos.Models.mProveedores
@{List<Creditos.Models.mProveedores> listProveedor = ViewBag.proveedor;}

<!-- begin:: Encabezado VENTANA PRINCIPAL -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h5>
                BIENVENIDOS
                <small>Proveedores</small>
            </h5>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
        <!-- Begin -- Tipo de usuario actual -->
        <div class="kt-subheader__toolbar">
            <h6> Est&aacutes en: </h6>
            <div class="kt-subheader__wrapper">
                <a class="btn kt-subheader__btn-primary">
                    Asociaci&oacute;n
                </a>
            </div>
        </div>
        <!-- end -- Tipo de usuario actual -->
    </div>
</div>
<!-- end:: Subheader -->

@using (Html.BeginForm("Store", "proveedores", FormMethod.Post))
{
    <h2 style="text-align:center;">Ingresar Nuevo Proveedor</h2>
    <br />
    <div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Persona Jur&iacute;dica:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridicas", @class = "form-control", @placeholder = "Representante Legal", @name = "persona_juridica" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>RUC:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-plus"></i></span></div>
                            @Html.TextBoxFor(m => m.RUC, new { @id = "rucs", @class = "form-control", @placeholder = "RUC", @name = "RUC" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Nombre del Proveedor</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-users"></i></span></div>
                            @Html.TextBoxFor(m => m.nombre, new { @id = "nombres", @class = "form-control", @placeholder = "Nombre", @name = "nombre" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Servicio que provee:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-sticky-note"></i></span></div>
                            @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcions", @class = "form-control", @placeholder = "Ej: Alimentos, Ropa, etc.", @name = "descripcion" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Email:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                            @Html.TextBoxFor(m => m.email, new { @id = "emails", @class = "form-control", @placeholder = "Ej: empresa@empresa.com", @name = "email" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Direcci&oacute;n:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-home"></i></span></div>
                            @Html.TextBoxFor(m => m.direccion, new { @id = "direccions", @class = "form-control", @placeholder = "Dirección", @name = "direccion" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Tel&eacute;fono</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                            @Html.TextBoxFor(m => m.telefono, new { @id = "telefonos", @title="Insertar teléfono", @class = "form-control", @placeholder = "(--- --- ----)", @name = "telefono" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div>
        <input id="btnIngreso" type="button" onclick="validarTdatos(); " value="Confirmar" class="btn btn-primary" />
        <input id="btnIngresoss" type="submit" style="display:none;" />
    </div>
    <br />
}
<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div id="contenedorIngresos">
        </div>
    </div>
</div>

<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div class="card-header" id="headingOne7">
            <div class="card-title" data-toggle="collapse" data-target="#collapseOne7" aria-expanded="true" aria-controls="collapseOne7">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                    </g>
                </svg> Proveedores registrados
            </div>
        </div>
        <div id="collapseOne7" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample7">
            <div class="card-body">
                
                <table class="table table-hover" id="example" style="text-align:center">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Persona Jurídica</th>
                            <th>RUC</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Email</th>
                            <th>Direción</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="buscar">
                        @foreach (var item in listProveedor)
                        {
                            <tr class='row_@item.id_proveedor'>
                                <td>@item.id_proveedor</td>
                                <td>@item.persona_juridica</td>
                                <td>@item.RUC</td>
                                <td>@item.nombre</td>
                                <td>@item.descripcion</td>
                                <td>@item.email</td>
                                <td>@item.direccion</td>
                                <td>@item.telefono</td>
                                <td>
                                    <a href='#' class='btn btn-outline-danger' data-toggle="kt-tooltip" title="Eliminar" onclick='DeleteProveedor(@item.id_proveedor)'><span class='flaticon2-rubbish-bin'></span></a>
                                    <button class='btn btn-outline-info edit' value="@item.id_proveedor" title="Modificar"><span class='flaticon2-pen'></span></button>
                                </td>
                            </tr>
                        }

                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle" style="text-align:center">Modificar Ingresos</h4>
                <a href="#" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.id_proveedor, new { @id = "id_proveedor" })
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Persona Jur&iacute;dica:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                        @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridica", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>RUC:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-plus"></i></span></div>
                                        @Html.TextBoxFor(m => m.RUC, new { @id = "RUC", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Proveedor:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-users"></i></span></div>
                                        @Html.TextBoxFor(m => m.nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Actividad que Realiza:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-sticky-note"></i></span></div>
                                        @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcion", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Correo Electr&oacute;nico:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                        @Html.TextBoxFor(m => m.email, new { @id = "email", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Direcci&oacute;n:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-home"></i></span></div>
                                        @Html.TextBoxFor(m => m.direccion, new { @id = "direccion", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Tel&eacute;fono:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                        @Html.TextBoxFor(m => m.telefono, new { @id = "telefono", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label><br /></label>
                                    <div class="input-group">
                                        <a href="#" class="btn btn-label-success" onclick="UpdateProveedor()">Guardar Cambios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

        function ValidarIngreso() {
            var _per_jur = $('#persona_juridicas').val();
            var _ruc = $('#rucs').val();
            var _nombre = $('#nombres').val();
            var _descr = $('#descripcions').val();
            var _mail = $('#emails').val();
            var _dirc = $('#direccions').val();
            var _telef = $('#telefonos').val();

        $.ajax({
            url: '@Url.Action("ValidarProveedor", "proveedores")',
            type: 'post',
            dataType: 'JSON',
            data: { _per_jur: _per_jur, _ruc: _ruc , _nombre: _nombre,_descr: _descr, _mail: _mail, _dirc: _dirc, _telef: _telef,  },
            success: function (data) {
                console.log(data);
                $("#btnIngreso").attr("submit");
                if (data.validar == true) {
                    Swal.fire({
                        title: 'Confirmar?',
                        text: "Se almacenará el nuevo dato!",
                        type: "success",
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                        showCancelButton: true,
                        cancelButtonText: 'Editar'
                    }).then((result) => {
                        if (result.value) {

                            $("#btnIngresoss").trigger("click");
                        };
                        })

                } else {
                    $("#contenedorIngresos").html(data.mensaje);
                }
            },
        });
    }
</script>

<script type="text/javascript">
        $(function () {
            $('#persona_juridicas').keyup(function () {
                var _thispj = $('#persona_juridicas');
                var _pj = $('#persona_juridicas').val();
                _thispj.attr('style', 'background:white');
                if (_pj == null || _pj.length == 0 || !/^([a-z ñáéíóú]{2,60})$/i.test(_pj) ) {
                    $('#persona_juridicas').removeClass('is-valid');
                    $('#persona_juridicas').addClass('is-invalid');
                } else {
                    $('#persona_juridicas').removeClass('is-invalid');
                    $('#persona_juridicas').addClass('is-valid');
                }
            });
        });
	$(function(){
		$('#rucs').keyup(function(){
            var _thisr = $('#rucs');
            var _ruc = $('#rucs').val();
            _thisr.attr('style', 'background:white');
            if (isNaN(_ruc) || _ruc.length != 13){
                $('#rucs').removeClass('is-valid');
                $('#rucs').addClass('is-invalid');
            } else {
                $('#rucs').removeClass('is-invalid');
                $('#rucs').addClass('is-valid');
            }
		});
    });
    $(function () {
        $('#nombres').keyup(function () {
            var _thisna = $('#nombres');
            var _name = $('#nombres').val();
            _thisna.attr('style', 'background:white');
            if (_name == null || _name.length == 0) {
                $('#nombres').removeClass('is-valid');
                $('#nombres').addClass('is-invalid');
            } else {
                $('#nombres').removeClass('is-invalid');
                $('#nombres').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#descripcions').keyup(function () {
            var _thisDsc = $('#descripcions');
            var _dsc = $('#descripcions').val();
            _thisDsc.attr('style', 'background:white');
            if (_dsc == null || _dsc.length == 0) {
                $('#descripcions').removeClass('is-valid');
                $('#descripcions').addClass('is-invalid');
            } else {
                $('#descripcions').removeClass('is-invalid');
                $('#descripcions').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#emails').keyup(function () {
            var _thismail = $('#emails');
            var _mail = $('#emails').val();
            _thismail.attr('style', 'background:white');
            if (!(/^\w+([\.\+\-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,4})+$/).test(_mail)) {
                $('#emails').removeClass('is-valid');
                $('#emails').addClass('is-invalid');
            } else {
                $('#emails').removeClass('is-invalid');
                $('#emails').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#direccions').keyup(function () {
            var _thisDirc = $('#direccions');
            var _dirc = $('#direccions').val();
            _thisDirc.attr('style', 'background:white');
            if (_dirc == null || _dirc.length == 0) {
                $('#direccions').removeClass('is-valid');
                $('#direccions').addClass('is-invalid');
            } else {
                $('#direccions').removeClass('is-invalid');
                $('#direccions').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#telefonos').keyup(function () {
            var _thiFono = $('#telefonos');
            var _fono = $('#telefonos').val();
            _thiFono.attr('style', 'background:white');
            if (isNaN(_fono) || _fono.length != 10) {
                $('#telefonos').removeClass('is-valid');
                $('#telefonos').addClass('is-invalid');
            } else {
                $('#telefonos').removeClass('is-invalid');
                $('#telefonos').addClass('is-valid');
            }
        });
    });

</script>

<script>

        function validarTdatos() {
            per_jur = document.getElementById("persona_juridicas").value;
            ruccc = document.getElementById("rucs").value;
            namee = document.getElementById("nombres").value;
            desc = document.getElementById("descripcions").value;
            mail = document.getElementById("emails").value;
            direcc = document.getElementById("direccions").value;
            fono = document.getElementById("telefonos").value;

            if (per_jur == null || per_jur.length == 0 || !/^([a-z ñáéíóú]{2,60})$/i.test(per_jur)) {
                $('#persona_juridicas').addClass('is-invalid');
                return true;
            } else if (isNaN(ruccc) || ruccc.length != 13) {
                $('#rucs').addClass('is-invalid');
                return true;
            } else if (namee == null || namee.length == 0) {
                $('#nombres').removeClass('is-invalid');
                $('#nombres').addClass('is-invalid');
                return true;
            } else if (desc == null || desc.length == 0) {
                $('#descripcions').addClass('is-invalid');
                return true;
            } else if (!(/^\w+([\.\+\-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,4})+$/).test(mail)) {
                $('#emails').addClass('is-invalid');
                return true;
            } else if (direcc == null || direcc.length == 0) {
                $('#direccions').addClass('is-invalid');
                return true;
            } if (isNaN(fono) || fono.length != 10) {
                $('#telefonos').addClass('is-invalid');
                return true;
            }ValidarIngreso();
        }

    //Paginación
        $(document).ready(function () {
            $('#example').dataTable();
        });

    //busqueda en tablas
    $(document).ready(function () {
        (function ($) {
            $('.filtrar').keyup(function () {
                var rex = new RegExp($(this).val(), 'i');
                $('.buscar tr').hide();
                $('.buscar tr').filter(function () {
                    return rex.test($(this).text());
                }).show();
            });
        }(jQuery));
    });
    var row;
    function UpdateProveedor(Proveedor) {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/proveedores/UpdateProveedores",
            data: data,
            success: function (result) {
                if (result == "Registro actualizado") {
                    Swal.fire({
                        position: 'top-end',
                        type: 'success',
                        title: 'Registro actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    row.find("td").eq(1).html($('#persona_juridica').val());
                    row.find("td").eq(2).html($('#RUC').val());
                    row.find("td").eq(3).html($('#nombre').val());
                    row.find("td").eq(4).html($('#descripcion').val());
                    row.find("td").eq(5).html($('#email').val());
                    row.find("td").eq(6).html($('#direccion').val());
                    row.find("td").eq(7).html($('#telefono').val());
                } else {
                    Swal.fire({
                        position: 'top-end',
                        type: 'error',
                        title: 'Error al actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                $("#MyModal").modal("hide");
            }
        })
    }
    $('body').on('click', '.edit', function () {
        var id = $(this).val();
        row = $(this).parents("tr");
        $("#MyModal").modal();
        $.ajax({
            type: "GET",
            url: "/proveedores/GetProveedoresById?ProveedoresId=" + id,
            success: function (data) {
                var obj = JSON.parse(data);
                $("#id_proveedor").val(obj[0].id_proveedor);
                $("#persona_juridica").val(obj[0].persona_juridica);
                $("#RUC").val(obj[0].RUC);
                $("#nombre").val(obj[0].nombre);
                $("#descripcion").val(obj[0].descripcion);
                $("#email").val(obj[0].email);
                $("#direccion").val(obj[0].direccion);
                $("#telefono").val(obj[0].telefono);
            }
        })
    })

    function DeleteProveedor(Proveedor) {
        Swal.fire({
            title: 'Estás seguro?',
            text: 'Deseas eliminar el registro seleccionado!',
            type: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "/proveedores/DeleteProveedores?ProveedoresId=" + Proveedor,
                    success: function (result) {
                        if (result == "Eliminado") {
                            Swal.fire(
                                'Borrado!',
                                'El registro fue borrado con éxito',
                                'success'
                            )
                            $(".row_" + Proveedor).remove();
                        } else {
                            Swal.fire(
                                'Borrado!',
                                'No se pudo eliminar el registro',
                                'error'
                            )
                        }
                    }
                })
            }
        })
    }
</script>