@model Creditos.Models.mProveedores
@{Creditos.Models.mProveedores objprov = ViewBag.proveedor;}

<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h4>
                BIENVENIDOS
                <small>Editar Informaci&oacute;n</small>
            </h4>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
        <!-- Begin -- Tipo de usuario actual -->
        <div class="kt-subheader__toolbar">
            <h6> Est&aacutes en: </h6>
            <div class="kt-subheader__wrapper">
                <a class="btn kt-subheader__btn-primary">
                    Proveedores
                </a>
            </div>
        </div>
        <!-- end -- Tipo de usuario actual -->
    </div>
</div>

<fieldset id="SubmitForm">
    <h2 style="text-align:center;">Actualizar Informaci&oacute;n - @objprov.nombre</h2>
    <br />
    <div>
        <div class="kt-portlet__body">
            @Html.HiddenFor(m => m.id_proveedor, new { @id = "id_proveedor", @Value = @objprov.id_proveedor })
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Representante Legal:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                            @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridicas", @class = "form-control", disabled = "disabled", @placeholder = @objprov.persona_juridica, @name = "persona_juridica", @Value = @objprov.persona_juridica })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>RUC:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-plus"></i></span></div>
                            @Html.TextBoxFor(m => m.RUC, new { @id = "rucs", @class = "form-control", @placeholder = @objprov.RUC, disabled = "disabled", @name = "RUC", @Value = @objprov.RUC })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Nombre del Proveedor</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-users"></i></span></div>
                            @Html.TextBoxFor(m => m.nombre, new { @id = "nombres", @class = "form-control", @placeholder = @objprov.nombre, disabled = "disabled", @name = "nombre", @Value = @objprov.nombre })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Servicio que provee:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-sticky-note"></i></span></div>
                            @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcions", @class = "form-control", disabled = "disabled", @placeholder = @objprov.descripcion, @name = "descripcion", @Value = @objprov.descripcion })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Email:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                            @Html.TextBoxFor(m => m.email, new { @id = "emails", @class = "form-control", @placeholder = @objprov.email, disabled = "disabled", @name = "email", @Value = @objprov.email })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Direcci&oacute;n:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-home"></i></span></div>
                            @Html.TextBoxFor(m => m.direccion, new { @id = "direccions", @class = "form-control", @placeholder = @objprov.direccion, disabled = "disabled", @name = "direccion", @Value = @objprov.direccion })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Tel&eacute;fono</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                            @Html.TextBoxFor(m => m.telefono, new { @id = "telefonos", @class = "form-control", @placeholder = @objprov.telefono, disabled = "disabled", @name = "telefono", @Value = @objprov.telefono })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-pull-2">
                    <input type="button" value="Editar info" id="edit" class="btn btn-primary" />
                </div>
                <div><p> - </p></div>
                <div class="col-lg-pull-2">
                    <input type="button" value="Guardar cambios" class="btn btn-success" id="guardar" style="display:none;" onclick="validarTdatos()"/>
                </div>
            </div>
        </div>
    </div>

    <div>
    </div>
    <br />
</fieldset>

<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div id="contenedorIngresos">
        </div>
    </div>
</div>

<script type="text/javascript">

        function ValidarIngreso() {
            var _per_jur = $('#persona_juridicas').val();
            var _ruc = $('#rucs').val();
            var _nombre = $('#nombres').val();
            var _descr = $('#descripcions').val();
            var _mail = $('#emails').val();
            var _dirc = $('#direccions').val();
            var _telef = $('#telefonos').val();

        $.ajax({
            url: '@Url.Action("ValidarProveedor", "proveedores")',
            type: 'post',
            dataType: 'JSON',
            data: { _per_jur: _per_jur, _ruc: _ruc , _nombre: _nombre,_descr: _descr, _mail: _mail, _dirc: _dirc, _telef: _telef,  },
            success: function (data) {
                console.log(data);
                $("#btnIngreso").attr("submit");
                if (data.validar == true) {
                    Swal.fire({
                        title: 'Confirmar?',
                        text: "Se almacenará el nuevo dato!",
                        type: "success",
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                        showCancelButton: true,
                        cancelButtonText: 'Editar'
                    }).then((result) => {
                        if (result.value) {
                            UpdateProveedores();
                        };
                        })

                } else {
                    $("#contenedorIngresos").html(data.mensaje);
                }
            },
        });
    }
</script>

<script type="text/javascript">
    $(function () {
        $('#persona_juridicas').keyup(function () {
            var _thispj = $('#persona_juridicas');
            var _pj = $('#persona_juridicas').val();
            _thispj.attr('style', 'background:white');
            if (_pj == null || _pj.length == 0 || !/^([a-z ñáéíóú]{2,60})$/i.test(_pj)) {
                $('#persona_juridicas').removeClass('is-valid');
                $('#persona_juridicas').addClass('is-invalid');
            } else {
                $('#persona_juridicas').removeClass('is-invalid');
                $('#persona_juridicas').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#rucs').keyup(function () {
            var _thisr = $('#rucs');
            var _ruc = $('#rucs').val();
            _thisr.attr('style', 'background:white');
            if (isNaN(_ruc) || _ruc.length != 13) {
                $('#rucs').removeClass('is-valid');
                $('#rucs').addClass('is-invalid');
            } else {
                $('#rucs').removeClass('is-invalid');
                $('#rucs').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#nombres').keyup(function () {
            var _thisna = $('#nombres');
            var _name = $('#nombres').val();
            _thisna.attr('style', 'background:white');
            if (_name == null || _name.length == 0) {
                $('#nombres').removeClass('is-valid');
                $('#nombres').addClass('is-invalid');
            } else {
                $('#nombres').removeClass('is-invalid');
                $('#nombres').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#descripcions').keyup(function () {
            var _thisDsc = $('#descripcions');
            var _dsc = $('#descripcions').val();
            _thisDsc.attr('style', 'background:white');
            if (_dsc == null || _dsc.length == 0) {
                $('#descripcions').removeClass('is-valid');
                $('#descripcions').addClass('is-invalid');
            } else {
                $('#descripcions').removeClass('is-invalid');
                $('#descripcions').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#emails').keyup(function () {
            var _thismail = $('#emails');
            var _mail = $('#emails').val();
            _thismail.attr('style', 'background:white');
            if (!(/^\w+([\.\+\-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,4})+$/).test(_mail)) {
                $('#emails').removeClass('is-valid');
                $('#emails').addClass('is-invalid');
            } else {
                $('#emails').removeClass('is-invalid');
                $('#emails').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#direccions').keyup(function () {
            var _thisDirc = $('#direccions');
            var _dirc = $('#direccions').val();
            _thisDirc.attr('style', 'background:white');
            if (_dirc == null || _dirc.length == 0) {
                $('#direccions').removeClass('is-valid');
                $('#direccions').addClass('is-invalid');
            } else {
                $('#direccions').removeClass('is-invalid');
                $('#direccions').addClass('is-valid');
            }
        });
    });
    $(function () {
        $('#telefonos').keyup(function () {
            var _thiFono = $('#telefonos');
            var _fono = $('#telefonos').val();
            _thiFono.attr('style', 'background:white');
            if (isNaN(_fono) || _fono.length != 10) {
                $('#telefonos').removeClass('is-valid');
                $('#telefonos').addClass('is-invalid');
            } else {
                $('#telefonos').removeClass('is-invalid');
                $('#telefonos').addClass('is-valid');
            }
        });
    });

</script>

<script>

    function validarTdatos() {
        per_jur = document.getElementById("persona_juridicas").value;
        ruccc = document.getElementById("rucs").value;
        namee = document.getElementById("nombres").value;
        desc = document.getElementById("descripcions").value;
        mail = document.getElementById("emails").value;
        direcc = document.getElementById("direccions").value;
        fono = document.getElementById("telefonos").value;

        if (per_jur == null || per_jur.length == 0 || !/^([a-z ñáéíóú]{2,60})$/i.test(per_jur)) {
            $('#persona_juridicas').addClass('is-invalid');
            return true;
        } else if (isNaN(ruccc) || ruccc.length != 13) {
            $('#rucs').addClass('is-invalid');
            return true;
        } else if (namee == null || namee.length == 0) {
            $('#nombres').removeClass('is-invalid');
            $('#nombres').addClass('is-invalid');
            return true;
        } else if (desc == null || desc.length == 0) {
            $('#descripcions').addClass('is-invalid');
            return true;
        } else if (!(/^\w+([\.\+\-]?\w+)*@@\w+([\.-]?\w+)*(\.\w{2,4})+$/).test(mail)) {
            $('#emails').addClass('is-invalid');
            return true;
        } else if (direcc == null || direcc.length == 0) {
            $('#direccions').addClass('is-invalid');
            return true;
        } if (isNaN(fono) || fono.length != 10) {
            $('#telefonos').addClass('is-invalid');
            return true;
        } ValidarIngreso();
    }

    $('#edit').click(function () {
        $('#persona_juridicas').removeAttr("disabled");
        $('#rucs').removeAttr("disabled");
        $('#nombres').removeAttr("disabled");
        $('#descripcions').removeAttr("disabled");
        $('#emails').removeAttr("disabled");
        $('#direccions').removeAttr("disabled");
        $('#telefonos').removeAttr("disabled");
        $('#guardar').removeAttr("style");
    })

    function UpdateProveedores(Proveedores) {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/proveedores/UpdateProveedores",
            data: data,
            success: function (result) {
                if (result == "Registro actualizado") {
                    Swal.fire({
                        title: 'DATOS ACTUALIZADOS',
                        text: "Se recargará la página!",
                        type: "success",
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            location.reload();
                        } location.reload();

                    })
                } else {
                    Swal.fire(
                        'Reintentar!',
                        'ERROR AL ACTUALIZAR',
                        'error'
                    )
                }
            }
        })
    }
</script>
