@model Creditos.Models.mProveedores
@{List<Creditos.Models.mProveedores> listProveedor = ViewBag.proveedor;}

<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h4>
                BIENVENIDOS
                <small>Editar Informaci&oacute;n - Proveedores</small>
            </h4>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>

    </div>
</div>

@using (Html.BeginForm("Store", "proveedores", FormMethod.Post))
{
    <br />
    <br />
    <div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Persona Jur&iacute;dica:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                            @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridicas", @class = "form-control", disabled="disabled", @placeholder = "Representante Legal", @name = "persona_juridica" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>RUC:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-plus"></i></span></div>
                            @Html.TextBoxFor(m => m.RUC, new { @id = "rucs", @class = "form-control", @placeholder = "RUC", disabled = "disabled", @name = "RUC" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Nombre del Proveedor</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-users"></i></span></div>
                            @Html.TextBoxFor(m => m.nombre, new { @id = "nombres", @class = "form-control", @placeholder = "Nombre", disabled = "disabled", @name = "nombre" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Servicio que provee:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-sticky-note"></i></span></div>
                            @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcions", @class = "form-control", disabled = "disabled", @placeholder = "Descripción", @name = "descripcion" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Email:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                            @Html.TextBoxFor(m => m.email, new { @id = "emails", @class = "form-control", @placeholder = "Email", disabled = "disabled", @name = "email" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Direcci&oacute;n:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-home"></i></span></div>
                            @Html.TextBoxFor(m => m.direccion, new { @id = "direccions", @class = "form-control", @placeholder = "Dirección", disabled = "disabled", @name = "direccion" })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Tel&eacute;fono</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                            @Html.TextBoxFor(m => m.telefono, new { @id = "telefonos", @class = "form-control", @placeholder = "Teléfono", disabled = "disabled", @name = "telefono" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-pull-2">
                    <input type="button" value="Editar info" class="btn btn-primary" />
                </div>
                <div class="col-lg-pull-2">
                    <input type="submit" value="Guardar cambios" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>

    <div>
    </div>
    <br />
}

@*<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div class="card-header" id="headingOne7">
            <div class="card-title" data-toggle="collapse" data-target="#collapseOne7" aria-expanded="true" aria-controls="collapseOne7">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                    </g>
                </svg> Proveedores registrados
            </div>
        </div>
        <div id="collapseOne7" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample7">
            <div class="card-body">
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control filtrar" placeholder="Search..." id="filtrar">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table table-hover" style="text-align:center">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Persona Jurídica</th>
                            <th>RUC</th>
                            <th>Nombre</th>
                            <th>Descripción</th>
                            <th>Email</th>
                            <th>Direción</th>
                            <th>Teléfono</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="buscar">
                        @foreach (var item in listProveedor)
                        {
                            <tr class='row_@item.id_proveedor'>
                                <td>@item.id_proveedor</td>
                                <td>@item.persona_juridica</td>
                                <td>@item.RUC</td>
                                <td>@item.nombre</td>
                                <td>@item.descripcion</td>
                                <td>@item.email</td>
                                <td>@item.direccion</td>
                                <td>@item.telefono</td>
                                <td>
                                    <a href='#' class='btn btn-outline-danger' data-toggle="kt-tooltip" data-original-title="Eliminar" onclick='DeleteProveedor(@item.id_proveedor)'><span class='flaticon2-rubbish-bin'></span></a>
                                    <a href='#' class='btn btn-outline-info' data-toggle="kt-tooltip" data-original-title="Modificar" data-id="@item.id_proveedor" onclick='EditProveedor(@item.id_proveedor)'><span class='flaticon2-pen'></span></a>
                                </td>
                            </tr>
                        }

                </table>
            </div>
        </div>
    </div>
</div>*@

<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle" style="text-align:center">Modificar Ingresos</h4>
                <a href="#" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.id_proveedor, new { @id = "id_proveedor" })
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Persona Jur&iacute;dica:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                                        @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridica", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>RUC:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-plus"></i></span></div>
                                        @Html.TextBoxFor(m => m.RUC, new { @id = "RUC", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Proveedor:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-users"></i></span></div>
                                        @Html.TextBoxFor(m => m.nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Actividad que Realiza:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-sticky-note"></i></span></div>
                                        @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcion", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Correo Electr&oacute;nico:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                                        @Html.TextBoxFor(m => m.email, new { @id = "email", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Direcci&oacute;n:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-home"></i></span></div>
                                        @Html.TextBoxFor(m => m.direccion, new { @id = "direccion", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Tel&eacute;fono:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                                        @Html.TextBoxFor(m => m.telefono, new { @id = "telefono", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>></label>
                                    <div class="input-group">
                                        <a href="#" class="btn btn-label-success" onclick="UpdateProveedor()">Guardar Cambios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>


<script>
    
    var row;
    function UpdateProveedor(Proveedor) {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/proveedores/UpdateProveedores",
            data: data,
            success: function (result) {
                if (result == "Registro actualizado") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Registro actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    row.find("td").eq(1).html($('#persona_juridica').val());
                    row.find("td").eq(2).html($('#RUC').val());
                    row.find("td").eq(3).html($('#nombre').val());
                    row.find("td").eq(4).html($('#descripcion').val());
                    row.find("td").eq(5).html($('#email').val());
                    row.find("td").eq(6).html($('#direccion').val());
                    row.find("td").eq(7).html($('#telefono').val());
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Error al actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                $("#MyModal").modal("hide");
            }
        })
    }
    $(document).ready(function () {
        $('[data-id]').click(function () {
            row = $(this).parents("tr");
            var id = $(this).data("id")
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: "/proveedores/GetProveedoresById?ProveedoresId=" + id,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#id_proveedor").val(obj[0].id_proveedor);
                    $("#persona_juridica").val(obj[0].persona_juridica);
                    $("#RUC").val(obj[0].RUC);
                    $("#nombre").val(obj[0].nombre);
                    $("#descripcion").val(obj[0].descripcion);
                    $("#email").val(obj[0].email);
                    $("#direccion").val(obj[0].direccion);
                    $("#telefono").val(obj[0].telefono);
                }
            })
        })
    })
</script>