@model Creditos.Models.mProveedores
@{Creditos.Models.mProveedores objprov = ViewBag.proveedor;}

<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h4>
                BIENVENIDOS
                <small>Editar Informaci&oacute;n - Proveedores</small>
            </h4>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>

    </div>
</div>

<fieldset id="SubmitForm">
    <br />
    <br />
    <div>
        <div class="kt-portlet__body">
            @Html.HiddenFor(m => m.id_proveedor, new { @id = "id_proveedor", @Value = @objprov.id_proveedor })
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Persona Jur&iacute;dica:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                            @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridicas", @class = "form-control", disabled = "disabled", @placeholder = @objprov.persona_juridica, @name = "persona_juridica", @Value = @objprov.persona_juridica })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>RUC:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-plus"></i></span></div>
                            @Html.TextBoxFor(m => m.RUC, new { @id = "rucs", @class = "form-control", @placeholder = @objprov.RUC, disabled = "disabled", @name = "RUC", @Value = @objprov.RUC })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Nombre del Proveedor</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-users"></i></span></div>
                            @Html.TextBoxFor(m => m.nombre, new { @id = "nombres", @class = "form-control", @placeholder = @objprov.nombre, disabled = "disabled", @name = "nombre", @Value = @objprov.nombre })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Servicio que provee:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-sticky-note"></i></span></div>
                            @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcions", @class = "form-control", disabled = "disabled", @placeholder = @objprov.descripcion, @name = "descripcion", @Value = @objprov.descripcion })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Email:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-at"></i></span></div>
                            @Html.TextBoxFor(m => m.email, new { @id = "emails", @class = "form-control", @placeholder = @objprov.email, disabled = "disabled", @name = "email", @Value = @objprov.email })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Direcci&oacute;n:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-home"></i></span></div>
                            @Html.TextBoxFor(m => m.direccion, new { @id = "direccions", @class = "form-control", @placeholder = @objprov.direccion, disabled = "disabled", @name = "direccion", @Value = @objprov.direccion })
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Tel&eacute;fono</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-phone"></i></span></div>
                            @Html.TextBoxFor(m => m.telefono, new { @id = "telefonos", @class = "form-control", @placeholder = @objprov.telefono, disabled = "disabled", @name = "telefono", @Value = @objprov.telefono })
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-pull-2">
                    <input type="button" value="Editar info" id="edit" class="btn btn-primary" />
                </div>
                <div class="col-lg-pull-2">
                    <input value="Guardar cambios" class="btn btn-success" onclick="UpdateProveedores()"/>
                </div>
            </div>
        </div>
    </div>

    <div>
    </div>
    <br />
</fieldset>
        

<script>
    $('#edit').click(function () {
        $('#persona_juridicas').removeAttr("disabled");
        $('#rucs').removeAttr("disabled");
        $('#nombres').removeAttr("disabled");
        $('#descripcions').removeAttr("disabled");
        $('#emails').removeAttr("disabled");
        $('#direccions').removeAttr("disabled");
        $('#telefonos').removeAttr("disabled");
    })
    function UpdateProveedores(Proveedores) {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/proveedores/UpdateProveedores",
            data: data,
            success: function (result) {
                if (result == "Registro actualizado") {
                    Swal.fire({
                        title: 'DATOS ACTUALIZADOS',
                        text: "Se recargará la página!",
                        type: "success",
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                        cancelButtonText: 'Cancelar'
                    }).then((result) => {
                        if (result.value) {
                            location.reload();
                        } location.reload();

                    })
                } else {
                    Swal.fire(
                        'Reintentar!',
                        'ERROR AL ACTUALIZAR',
                        'error'
                    )
                }
            }
        })
    }
</script>
