
@model Creditos.Models.mDescuento

@{
    List<Creditos.Models.mDescuento> listDescuentos = ViewBag.descuentos;
    List<Creditos.Models.mPersona> listPersona = ViewBag.persona;
}

<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h2>
                BIENVENIDOS
                <small>Descuentos</small>
            </h2>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>

    </div>
</div>

@using (Html.BeginForm("Store", "descuento", FormMethod.Post))
{
    <p>
        <a class="btn btn-primary" data-toggle="collapse" href="#multiCollapseExample1" role="button" id="accor" aria-expanded="false" aria-controls="multiCollapseExample1">Personas</a>
    </p>
    <div class="row">
        <div class="col">
            <div class="collapse multi-collapse" id="multiCollapseExample1">
                <div class="kt-form kt-form--label-right kt-margin-t-20 kt-margin-b-10">
                    <div class="row align-items-center">
                        <div class="col-xl-8 order-2 order-xl-1">
                            <div class="row align-items-center">
                                <div class="col-md-4 kt-margin-b-20-tablet-and-mobile">
                                    <div class="kt-input-icon kt-input-icon--left">
                                        <input type="text" class="form-control" placeholder="Search..." id="generalSearch">
                                        <span class="kt-input-icon__icon kt-input-icon__icon--left">
                                            <span><i class="la la-search"></i></span>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <table class="table" style="text-align:center" id="tablaSA">
                    <tr>
                        <th>Item</th>
                        <th>Cedula</th>
                        <th>Nombres</th>
                        <th>Apellidos</th>
                        <th>Direción</th>
                        <th>Teléfono</th>
                        <th>Acciones</th>
                    </tr>

                    @foreach (var item in listPersona)
                    {
                        <tr class='row_@item.Id_Persona'>
                            <td>@item.Id_Persona</td>
                            <td>@item.Cedula</td>
                            <td>@item.Nombres @item.SegundoNombre</td>
                            <td>@item.ApellidoPaterno @item.ApellidoMaterno</td>
                            <td>@item.Direccion</td>
                            <td>@item.Numero</td>
                            <td>
                                <a href='#' class='btn btn-outline-warning add' data-toggle="kt-tooltip" data-original-title="Añadir"><span class='la la-arrow-down'></span></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Cedula:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-adn"></i></span></div>
                            @Html.TextBox("Cedulas", null, new { @class = "form-control", disabled = "disabled", placeholder = "Cédula" })
                        </div>
                        @Html.HiddenFor(m => m.empleado_id, new { @id = "empleado_id", @Value = "" })
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Nombres:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                            @Html.TextBox("Nombress", null, new { @class = "form-control", disabled = "disabled", placeholder = "Nombres" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Apellidos:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-user"></i></span></div>
                            @Html.TextBox("SegundoNombres", null, new { @class = "form-control", disabled = "disabled", placeholder = "Apellido" })
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Valor:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-adn"></i></span></div>
                            @Html.TextBoxFor(m => m.valor, new { @id = "valors", @class = "form-control", @placeholder = "Valor", @name = "valor" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Tipo de Descuento:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                            @Html.DropDownListFor(m => m.cab_desc_id, ViewBag.cabecera as SelectList, "--Seleccione un Descuento--", new { @id = "cab_desc_ids", @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Mes:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-adn"></i></span></div>
                            @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_ids", @class = "form-control" })
                        </div>
                    </div>
                </div>
                @Html.HiddenFor(m => m.fecha, new { @id = "fecha", @Value = @DateTime.Now.ToShortDateString() })
            </div>
        </div>
        <div>
            <input type="submit" value="Confirmar" class="btn btn-primary" />
        </div>
    </div>
<br/> 
}
<table class="table" style="text-align:center">
    <tr>
        <th style="text-align:center">Item</th>
        <th style="text-align:center">Valor</th>
        <th style="text-align:center">Persona</th>
        <th style="text-align:center">Descripción</th>
        <th style="text-align:center">Mes</th>
        <th style="text-align:center">Fecha</th>
        <th style="text-align:center">Acciones</th>
    </tr>
    @foreach (var item in listDescuentos)
    {
        <tr class='row_@item.id_descuento'>
            <td>@item.id_descuento</td>
            <td>@item.valor</td>
            <td>@item.persona</td>
            <td>@item.cabecera</td>
            <td>@item.mes</td>
            <td>@item.fecha.ToShortDateString()</td>
            <td>
                <a href='#' class='btn btn-outline-danger' data-toggle="kt-tooltip" data-original-title="Eliminar" onclick='DeleteDescuento(@item.id_descuento)'><span class='flaticon2-rubbish-bin'></span></a>
                <a href='#' class='btn btn-outline-info' data-toggle="kt-tooltip" data-original-title="Modificar" data-id="@item.id_descuento"><span class='flaticon2-pen'></span></a>
            </td>
        </tr>
    }
</table>
<div class="modal fade" id="MyModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <a href="#" class="close" data-dismiss="modal">&times;</a>
                <h4 id="ModalTitle">Modificar Descuentos</h4>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.id_descuento, new { @id = "id_descuentos" })
                        <div class="form-group">
                            <label>Valor</label>
                            @Html.TextBoxFor(m => m.valor, new { @id = "valor", @class = "form-control", @placeholder = "Name*" })
                        </div>
                        @*@Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })*@
                        @*<div class="form-group">
                            <label>Persona</label>
                            @Html.DropDownListFor(m => m.empleado_id, ViewBag.persona as SelectList, "--Seleccione una persona--", new { @id = "Id_Persona", @class = "form-control" })
                        </div>*@
                        <div class="form-group">
                            <label>Tipo de Descuento</label>
                            @Html.DropDownListFor(m => m.cab_desc_id, ViewBag.cabecera as SelectList, "--Seleccione Descuento--", new { @id = "cab_desc_id", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <label>Mes</label>
                            @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione Mes--", new { @id = "mes_id", @class = "form-control" })
                        </div>
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-danger" onclick="UpdateDescuento()">Save</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $('.add').click(function () {
            Swal.fire({
                title: 'Persona Añadida',
                icon: 'success',
                confirmButtonText: 'Ok',
                cancelButtonText: 'Cancelar'
            })
            $('#Cedulas').val($(this).parents("tr").find("td").eq(1).html());
            $('#Nombress').val($(this).parents("tr").find("td").eq(2).html());
            $('#SegundoNombres').val($(this).parents("tr").find("td").eq(3).html());
            $('#empleado_id').val($(this).parents("tr").find("td").eq(0).html());
            $("#accor").trigger("click")
        })
    })
    var row;
    function UpdateDescuento(Descuento) {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/descuento/UpdateDescuento",
            data: data,
            success: function (result) {
                if (result == "Registro actualizado") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Registro actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    row.find("td").eq(1).html($('#valor').val());
                    row.find("td").eq(4).html($('select[id="mes_id"] option:selected').text());
                    row.find("td").eq(2).html($('select[id="empleado_id"] option:selected').text());
                    row.find("td").eq(3).html($('select[id="ca_desc_id"] option:selected').text());
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Error al actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                $("#MyModal").modal("hide");
            }
        })
    }
    $(document).ready(function () {
        $('[data-id]').click(function () {
            row = $(this).parents("tr");
            var id = $(this).data("id")
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: "/descuento/GetDescuentoById?DescuentoId=" + id,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#id_descuento").val(obj[0].id_descuento);
                    $("#valor").val(obj[0].valor);
                    $("#mes_id option[value='" + obj[0].mes_id + "']").attr("selected", true);
                    $("#empleado_id option[value='" + obj[0].empleado_id + "']").attr("selected", true);
                    $("#cab_desc_id option[value='" + obj[0].cab_desc_id + "']").attr("selected", true);
                }
            })
        })
    })
    function DeleteDescuento(Descuento) {
        Swal.fire({
            title: 'Estás seguro?',
            text: 'Deseas eliminar el registro seleccionado!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "/descuento/DeleteDescuento?DescuentoId=" + Descuento,
                    success: function (result) {
                        if (result == "Eliminado") {
                            Swal.fire(
                                'Borrado!',
                                'El registro fue borrado con éxito',
                                'success'
                            )
                            $(".row_" + Descuento).remove();
                        } else {
                            Swal.fire(
                                'Borrado!',
                                'No se pudo eliminar el registro',
                                'error'
                            )
                        }
                    }
                })
            }
        })
    }
</script>

