@model Creditos.Models.mIngresos
@{List<Creditos.Models.mIngresos> listReporteIngreso = ViewBag.ingresos;
  List<Creditos.Models.mCredito> listCredts = ViewBag.creditos;}

<!-- begin:: Encabezado VENTANA PRINCIPAL -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h4>
                Reportes
            </h4>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
        <!-- Begin -- Tipo de usuario actual -->
        <div class="kt-subheader__toolbar">
            <h6> Est&aacutes en: </h6>
            <div class="kt-subheader__wrapper">
                <a class="btn kt-subheader__btn-primary">
                    Asociaci&oacute;n
                </a>
            </div>
        </div>
        <!-- end -- Tipo de usuario actual -->
    </div>
</div>
<!-- end:: Subheader -->

    <h2 style="text-align:center;">REPORTES DE LA ASOCIACI&Oacute;N</h2>
    <br />
    @Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })
@Html.HiddenFor(m => m.asociacion_id, new { @id = "emp_ids", @Value = "28" })




@using (Html.BeginForm("Store", "ingresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample1">
            <div class="card">
                <div class="card-header" id="headingOne7">
                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne1" aria-expanded="true" aria-controls="collapseOne7">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                            </g>
                        </svg> Reporte Mensual de Ingresos
                    </div>
                </div>
                <div id="collapseOne1" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample1">
                    <div class="card-body">
                        <div>
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="kt-section">
                                            <label>Mes:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                                @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_ids", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="generarReporteIM(); " class="btn btn-primary">Generar Reporte</button>
                                    <button type="button" id="imprimir" onclick="Imprimir(); " class="btn btn-primary">Imprimir</button>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                            <div class="card">
                                <div id="contIngresos">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}


@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample2">
            <div class="card">
                <div class="card-header" id="headingOne7">
                    <div class="card-title" data-toggle="collapse" data-target="#collapseOne2" aria-expanded="true" aria-controls="collapseOne7">
                        <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                            <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                <polygon points="0 0 24 0 24 24 0 24"></polygon>
                                <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                                <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                            </g>
                        </svg> Reporte Mensual de Egresos
                    </div>
                </div>
                <div id="collapseOne2" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample2">
                    <div class="card-body">
                        <div>
                            <div class="kt-portlet__body">
                                <div class="row">
                                    <div class="col-lg-8">
                                        <div class="kt-section">
                                            <label>Mes:</label>
                                            <div class="input-group">
                                                <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                                @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_idsE", @class = "form-control" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div>
                                    <button type="button" onclick="generarReporteEM(); " class="btn btn-primary">Generar Reporte</button>
                                    <button type="button" id="imprimir" onclick="ImprimirE(); " class="btn btn-primary">Imprimir</button>
                                </div>
                                <br />
                            </div>
                        </div>
                        <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                            <div class="card">
                                <div id="contEgresos">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample3">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne3" aria-expanded="true" aria-controls="collapseOne3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Reporte Anual de Ingresos
                </div>
            </div>
            <div id="collapseOne3" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample3">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" onclick="generarReporteIA(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="ImprimirA(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                        <div class="card">
                            <div id="contIngresosA">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne7" aria-expanded="true" aria-controls="collapseOne7">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Reporte Anual de Egresos
                </div>
            </div>
            <div id="collapseOne7" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample7">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" onclick="generarReporteEA(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="ImprimirEA(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                        <div class="card">
                            <div id="contEgresosA">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample8">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne8" aria-expanded="true" aria-controls="collapseOne7">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Reporte Proveedores Actuales
                </div>
            </div>
            <div id="collapseOne8" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample8">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" onclick="generarReporteAsPr(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="ImprimirAsPr(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                        <div class="card">
                            <div id="contProvAso">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample9">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne9" aria-expanded="true" aria-controls="collapseOne3">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Reporte de Empleados Actualmente en la Asociaci&oacute;n
                </div>
            </div>
            <div id="collapseOne9" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample9">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" onclick="generarReporteEmAs(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="ImprimirEmAs(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                        <div class="card">
                            <div id="contEmpAso">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample5">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne5" aria-expanded="true" aria-controls="collapseOne7">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Reporte de Cr&eacute;ditos - Año actual
                </div>
            </div>
            <div id="collapseOne5" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample5">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" onclick="generarReporteCr(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="ImprimirCr(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                        <div class="card">
                            <div id="contCredito">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample11">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne11" aria-expanded="true" aria-controls="collapseOne7">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Recibos de Cr&eacute;ditos Aprobados
                </div>
            </div>
            <div id="collapseOne11" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample11">
                <div class="card-body">
                    <table class="table table-hover example" style="text-align:center">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Descripci&oacute;n</th>
                                <th>Persona</th>
                                <th>Asociaci&oacute;n</th>
                                <th>Cantidad Solicitada</th>
                                <th>Cuotas</th>
                                <th>Descuento Mensual</th>
                                <th>Fecha de Solicitud</th>
                                <th>Acciones</th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody class="buscar">
                            @{int a = 1; }
                            @foreach (var item in listCredts){
                                <tr id="fila_@item.id_credito" class='row_@item.id_credito'>
                                    <td>@a</td>
                                    <td>@item.descripcion</td>
                                    <td>@item.persona</td>
                                    <td>@item.aso</td>
                                    <td>$ @item.cantidad</td>
                                    <td>@item.numero_cuota</td>
                                    <td>$ @item.desc_mensual</td>
                                    <td>@item.fecha_solicitud.ToShortDateString()</td>
                                    <td>
                                        <a href='#' class='btn btn-outline-hover-success btn-sm btn-icon btn-circle' data-toggle="kt-tooltip" title="Generar" onclick='generarRecibo(@item.id_credito)'><span class='la la-file-pdf-o'></span></a>
                                    </td>
                                    <td style="display:none;">@item.id_credito</td>
                                </tr>
                                a++;
                            }
                        </tbody>
                    </table>
                    <button type="button" id="imprimir" onclick="ImprimirRecib(); " class="btn btn-primary">Imprimir</button>
                </div>
                <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                    <div class="card">
                        <div id="contRecibo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordion15">
        <div class="card">
            <div class="card-header" id="heading15">
                <div class="card-title" data-toggle="collapse" data-target="#collapse15" aria-expanded="true" aria-controls="collapse15">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> N° de Cuenta Proveedores
                </div>
            </div>
            <div id="collapse15" class="collapse" aria-labelledby="heading15" data-parent="#accordion15">
                <div class="card-body">
                    <div>
                        <div class="kt-portlet__body">
                            <div>
                                <button type="button" onclick="generarReporteInfoProv(); " class="btn btn-primary">Generar Reporte</button>
                                <button type="button" id="imprimir" onclick="ImprimirInPr(); " class="btn btn-primary">Imprimir</button>
                            </div>
                            <br />
                        </div>
                    </div>
                    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                        <div class="card">
                            <div id="contInfoPro">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

@using (Html.BeginForm("Store", "egresos", FormMethod.Post))
{
    <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample11">
        <div class="card">
            <div class="card-header" id="headingOne7">
                <div class="card-title" data-toggle="collapse" data-target="#collapseOne11" aria-expanded="true" aria-controls="collapseOne7">
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <polygon points="0 0 24 0 24 24 0 24"></polygon>
                            <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                            <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                        </g>
                    </svg> Detalle de Pagos Proveedores
                </div>
            </div>
            <div id="collapseOne11" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample11">
                <div class="card-body">
                    <table class="table table-hover example" style="text-align:center">
                        <thead>
                            <tr>
                                <th>Item</th>
                                <th>Descripci&oacute;n</th>
                                <th>Persona</th>
                                <th>Asociaci&oacute;n</th>
                                <th>Cantidad Solicitada</th>
                                <th>Cuotas</th>
                                <th>Descuento Mensual</th>
                                <th>Fecha de Solicitud</th>
                                <th>Acciones</th>
                                <th style="display:none;"></th>
                            </tr>
                        </thead>
                        <tbody class="buscar">
                            @{int a = 1; }
                            @foreach (var item in listCredts)
                            {
                                <tr id="fila_@item.id_credito" class='row_@item.id_credito'>
                                    <td>@a</td>
                                    <td>@item.descripcion</td>
                                    <td>@item.persona</td>
                                    <td>@item.aso</td>
                                    <td>$ @item.cantidad</td>
                                    <td>@item.numero_cuota</td>
                                    <td>$ @item.desc_mensual</td>
                                    <td>@item.fecha_solicitud.ToShortDateString()</td>
                                    <td>
                                        <a href='#' class='btn btn-outline-hover-success btn-sm btn-icon btn-circle' data-toggle="kt-tooltip" title="Generar" onclick='generarRecibo(@item.id_credito)'><span class='la la-file-pdf-o'></span></a>
                                    </td>
                                    <td style="display:none;">@item.id_credito</td>
                                </tr>
                                a++;
                            }
                        </tbody>
                    </table>
                    <button type="button" id="imprimir" onclick="ImprimirRecib(); " class="btn btn-primary">Imprimir</button>
                </div>
                <div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
                    <div class="card">
                        <div id="contRecibo">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

    @*  Reportes  *@
    <script type="text/javascript">

        function generarReporteIM() {
            var _idMes = $('#mes_ids').val();
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarIngreso", "ingresos")',
            type: 'post',
            dataType: 'JSON',
            data: { _idMes: _idMes, _idAso: _idAso },
            beforeSend: function () {
                $("#contIngresos").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contIngresos").html(data.tabla);
                } else {
                    $("#contIngresos").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contIngresos").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarReporteEM() {
            var _idMes = $('#mes_idsE').val();
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarEgreso", "egresos")',
            type: 'post',
            dataType: 'JSON',
            data: { _idMes: _idMes, _idAso: _idAso },
            beforeSend: function () {
                $("#contEgresos").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contEgresos").html(data.tabla);
                } else {
                    $("#contEgresos").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contEgresos").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarReporteIA() {
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarIngresoM", "ingresos")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso },
            beforeSend: function () {
                $("#contIngresosA").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contIngresosA").html(data.tabla);
                } else {
                    $("#contIngresosA").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contIngresosA").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarReporteEA() {
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarEgresosM", "egresos")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso },
            beforeSend: function () {
                $("#contEgresosA").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contEgresosA").html(data.tabla);
                } else {
                    $("#contEgresosA").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contEgresosA").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarReporteAsPr() {
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarAsoProvR", "asociacionProveedor")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso },
            beforeSend: function () {
                $("#contProvAso").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contProvAso").html(data.tabla);
                } else {
                    $("#contProvAso").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contProvAso").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }
        function generarReporteEmAs() {
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarEmpAsoR", "empleadoAsociacion")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso },
            beforeSend: function () {
                $("#contEmpAso").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contEmpAso").html(data.tabla);
                } else {
                    $("#contEmpAso").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contEmpAso").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarReporteCr() {
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarCreditoR", "credito")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso},
            beforeSend: function () {
                $("#contCredito").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contCredito").html(data.tabla);
                } else {
                    $("#contCredito").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contCredito").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarRecibo(id) {
            var _idAso = $('#asociacion_id').val();
            var _idCredito = id;
        $.ajax({
            url: '@Url.Action("ConsultarReciboCreditoR", "credito")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso, _idCredito: _idCredito },
            beforeSend: function () {
                $("#contRecibo").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contRecibo").html(data.tabla);
                } else {
                    $("#contRecibo").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contRecibo").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

        function generarReporteInfoProv() {
            var _idAso = $('#asociacion_id').val();
        $.ajax({
            url: '@Url.Action("ConsultarinfoPagoR", "asociacionProveedor")',
            type: 'post',
            dataType: 'JSON',
            data: { _idAso: _idAso },
            beforeSend: function () {
                $("#contInfoPro").html('<div class="text-center"><img style="margin:0 auto 0 auto; text-aling:center; height: 150px;" src="@Url.Content("~/Content/media/logos/cargando.gif")"></div>');

            },
            uploadProgress: function (event, position, total, percentComplete) {
            },
            success: function (data) {
                console.log(data);
                if (data.validar == true) {
                    $("#contInfoPro").html(data.tabla);
                } else {
                    $("#contInfoPro").html(data.mensaje);
                }
            },
            complete: function () {
            },
            error: function (xhr, textStatus, errorThrown) {

                if (xhr.status === 0) {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">NO HAY CONEXIÓN A INTERNET. VERIFICA LA RED</div>');
                } else if (xhr.status == 404) {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">ERROR [404]. PÁGINA NO ENCONTRADA</div>');
                } else if (xhr.status == 500) {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">ERROR DEL SERVIDOR [500]</div>');
                } else if (errorThrown === 'parsererror') {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN JSON HA FALLADO </div>');
                } else if (contenedorAsistencia === 'timeout') {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">TIEMPO DE ESPERA TERMINADO</div>');
                } else if (errorThrown === 'abort') {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">LA PETICIÓN AJAX FUE ABORTADA</div>');
                } else {
                    $("#contInfoPro").html('<div class="alert alert-danger text-center" role="alert">OCURRIÓ UN ERROR INESPERADO</div>');
                }
            }
        });
        }

    </script>
    @*hasta aqui*@

    <script>
        function Imprimir() {
            $("#contIngresos").print({
            addGlobalStyles: true,
            stylesheet: null,
            rejectWindow: true,
            noPrintSelector: "",
            iframe: true,
            append: null,
            prepend: null
        });
        }
        function ImprimirE() {
            $("#contEgresos").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }

        function ImprimirA() {
            $("#contIngresosA").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
        function ImprimirEA() {
            $("#contEgresosA").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
        function ImprimirAsPr() {
            $("#contProvAso").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
        function ImprimirEmAs() {
            $("#contEmpAso").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
        function ImprimirCr() {
            $("#contCredito").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
        function ImprimirRecib() {
            $("#contRecibo").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
        function ImprimirInPr() {
            $("#contInfoPro").print({
                addGlobalStyles: true,
                stylesheet: null,
                rejectWindow: true,
                noPrintSelector: "",
                iframe: true,
                append: null,
                prepend: null
            });
        }
    </script>