@Scripts.Render("~/Scripts/paginacion.js")

@model Creditos .Models.mIngresos
@{List<Creditos.Models.mIngresos> listIngreso = ViewBag.ingresos;
    }
<!-- begin:: Encabezado VENTANA PRINCIPAL -->
<div class="kt-subheader kt-grid__item" id="kt_subheader">
    <div class="kt-container ">
        <div class="kt-subheader__main">
            <h4>
                BIENVENIDOS
                <small>Ingresos</small>
            </h4>
            <span class="kt-subheader__separator kt-hidden"></span>
        </div>
        <!-- Begin -- Tipo de usuario actual -->
        <div class="kt-subheader__toolbar">
            <h6> Est&aacutes en: </h6>
            <div class="kt-subheader__wrapper">
                <a class="btn kt-subheader__btn-primary">
                    Asociaci&oacute;n
                </a>
            </div>
        </div>
        <!-- end -- Tipo de usuario actual -->
    </div>
</div>
<!-- end:: Subheader -->

@using (Html.BeginForm("Store", "ingresos", FormMethod.Post))
{
    <h2 style="text-align:center;">Ingresar Nuevo Ingreso</h2>
    <br />    <br />
    <div>
        <div class="kt-portlet__body">
            <div class="row">
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Cantidad:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-money"></i></span></div>
                            @Html.TextBoxFor(m => m.valor, new { @id = "valors", @class = "form-control", @placeholder = "Valor", @name = "valor" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Tipo de Ingreso:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-check"></i></span></div>
                            @Html.DropDownListFor(m => m.tipo_ingreso_id, ViewBag.tipoingresos as SelectList, "--Tipo de Ingreso--", new { @id = "tipo_ingreso_ids", @class = "form-control" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="kt-section">
                        <label>Mes:</label>
                        <div class="input-group">
                            <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                            @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Seleccione un Mes--", new { @id = "mes_ids", @class = "form-control" })
                            <div class="valid-feedback" style="text-align:center">El formato Coincide.</div>
                            <div class="invalid-feedback" style="text-align:center">Inserte un dato con el formato correcto.</div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
    
    @Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" }) 
        <div>
            <input id="btnIngreso" type="button"  onclick="validarTdatos()"  value="Confirmar" class="btn btn-primary" />
            <input id="btnIngresoss" type="submit" style="display:none;" />        
        </div>
    <br />
}
<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div id="contenedorIngresos">
        </div>
    </div>
</div>

<div class="accordion accordion-light  accordion-svg-icon" id="accordionExample7">
    <div class="card">
        <div class="card-header" id="headingOne7">
            <div class="card-title" data-toggle="collapse" data-target="#collapseOne7" aria-expanded="true" aria-controls="collapseOne7">
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <polygon points="0 0 24 0 24 24 0 24"></polygon>
                        <path d="M12.2928955,6.70710318 C11.9023712,6.31657888 11.9023712,5.68341391 12.2928955,5.29288961 C12.6834198,4.90236532 13.3165848,4.90236532 13.7071091,5.29288961 L19.7071091,11.2928896 C20.085688,11.6714686 20.0989336,12.281055 19.7371564,12.675721 L14.2371564,18.675721 C13.863964,19.08284 13.2313966,19.1103429 12.8242777,18.7371505 C12.4171587,18.3639581 12.3896557,17.7313908 12.7628481,17.3242718 L17.6158645,12.0300721 L12.2928955,6.70710318 Z" fill="#000000" fill-rule="nonzero"></path>
                        <path d="M3.70710678,15.7071068 C3.31658249,16.0976311 2.68341751,16.0976311 2.29289322,15.7071068 C1.90236893,15.3165825 1.90236893,14.6834175 2.29289322,14.2928932 L8.29289322,8.29289322 C8.67147216,7.91431428 9.28105859,7.90106866 9.67572463,8.26284586 L15.6757246,13.7628459 C16.0828436,14.1360383 16.1103465,14.7686056 15.7371541,15.1757246 C15.3639617,15.5828436 14.7313944,15.6103465 14.3242754,15.2371541 L9.03007575,10.3841378 L3.70710678,15.7071068 Z" fill="#000000" fill-rule="nonzero" opacity="0.3" transform="translate(9.000003, 11.999999) rotate(-270.000000) translate(-9.000003, -11.999999) "></path>
                    </g>
                </svg> Ingresos Totales
            </div>
        </div>
        <div id="collapseOne7" class="collapse" aria-labelledby="headingOne7" data-parent="#accordionExample7">
            <div class="card-body">
                <table class="table table-hover" id="example" style="text-align:center">
                    <thead >
                        <tr style="font-weight:bold;">
                            <th>Item</th>
                            <th>Valor</th>
                            <th>Tipo Ingreso</th>
                            <th>Mes</th>
                            <th>Acciones</th>
                        </tr>
                    </thead>
                    <tbody class="buscar">
                        @foreach (var item in listIngreso)
                        {
                            <tr class='row_@item.id_ingresos'>
                                <td>@item.id_ingresos</td>
                                <td>@item.valor</td>
                                <td>@item.tipoingreso</td>
                                <td>@item.mes</td>
                                <td>
                                    <a href='#' class='btn btn-outline-danger' data-toggle="kt-tooltip" title="Eliminar" onclick='DeleteIngreso(@item.id_ingresos)'><span class='flaticon2-rubbish-bin'></span></a>
                                    <button class='btn btn-outline-info edit' value="@item.id_ingresos" title="Modificar"><span class='flaticon2-pen'></span></button>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="MyModal"> 
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 id="ModalTitle" style="text-align:center">Modificar Ingresos</h4>
                <a href="#" data-dismiss="modal">&times;</a>
            </div>
            <div class="modal-body">
                <form id="form">
                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.id_ingresos, new { @id = "id_ingresos" })
                        @Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Cantidad:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-money"></i></span></div>
                                        @Html.TextBoxFor(m => m.valor, new { @id = "valor", @class = "form-control", @placeholder = "Name*" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Tipo de Ingreso:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-check"></i></span></div>
                                        @Html.DropDownListFor(m => m.tipo_ingreso_id, ViewBag.tipoingresos as SelectList, "--Tipo de Ingreso--", new { @id = "tipo_ingreso_id", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label>Mes:</label>
                                    <div class="input-group">
                                        <div class="input-group-prepend"><span class="input-group-text"><i class="la la-calendar"></i></span></div>
                                        @Html.DropDownListFor(m => m.mes_id, ViewBag.mes as SelectList, "--Elija un Mes--", new { @id = "mes_id", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="kt-section">
                                    <label><br /></label>
                                    <div class="input-group">
                                        <a href="#" class="btn btn-label-success" onclick="UpdateIngreso()">Guardar Cambios</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">

      function ValidarIngreso() {
          var _idMes = $('#mes_ids').val();
          var _idTipoIng = $('#tipo_ingreso_ids').val();
          var _cant = $('#valors').val();

        $.ajax({
            url: '@Url.Action("ValidarIngreso", "ingresos")',
            type: 'post',
            dataType: 'JSON',
            data: { _idMes: _idMes, _idTipoIng: _idTipoIng, _cant: _cant},
            success: function (data) {
                console.log(data);
                $("#btnIngreso").attr("submit");
                if (data.validar == true) {
                    Swal.fire({
                        title: 'Confirmar?',
                        text: "Se almacenará el nuevo dato!",
                        type: "success",
                        confirmButtonText: 'OK',
                        confirmButtonColor: '#3085d6',
                        showCancelButton: true,
                        cancelButtonText: 'Editar'
                    }).then((result) => {
                        if (result.value) {

                            $("#btnIngresoss").trigger("click");
                        };
                        })

                } else {
                    $("#contenedorIngresos").html(data.mensaje);
                }
            },
        });
    }
</script>

<script type="text/javascript">

      $(function () {
          $('#valors').keyup(function () {
              var _thisCnt = $('#valors');
              var _cnt = $('#valors').val();
              _thisCnt.attr('style', 'background:white');
              if (_cnt == null || !/^\d*\,?\d*$/.test(_cnt) || _cnt == 0) {
                  $('#valors').removeClass('is-valid');
                  $('#valors').addClass('is-invalid');
              } else {
                  $('#valors').removeClass('is-invalid');
                  $('#valors').addClass('is-valid');
              }
          });
      });
</script>

<script>
      function validarTdatos() {
          valor = document.getElementById("valors").value;
          tpIngr = document.getElementById("tipo_ingreso_ids").selectedIndex;
          mes = document.getElementById("mes_ids").selectedIndex;

          if (typeof (valor) == "number" || valor == null || valor == 0) {
              $('#valors').addClass('is-invalid');
              return true;
          } else if (tpIngr == null || tpIngr == 0) {
              $('#tipo_ingreso_ids').addClass('is-invalid');
              return true;
          } else if (mes == null || mes == 0) {
              $('#mes_ids').addClass('is-invalid');
              return true;
          }ValidarIngreso();
      }
      
      $(document).ready(function () {
          $('#example').dataTable();
      });

      $(document).ready(function () {
          console.log($("#id_ingresos").val());
          (function ($) {
              $('.filtrar').keyup(function () {
                  var rex = new RegExp($(this).val(), 'i');
                  $('.buscar tr').hide();
                  $('.buscar tr').filter(function () {
                      return rex.test($(this).text());
                  }).show();
              });
          }(jQuery));
      });
      var row;
      function UpdateIngreso(Ingreso) {
          var data = $("#SubmitForm").serialize();
          $.ajax({
              type: "Post",
              url: "/ingresos/UpdateIngresos",
              data: data,
              success: function (result) {
                  if (result == "Registro actualizado") {
                      Swal.fire(
                          'Actualizado!',
                          'Registro Actualizado',
                          'success'
                      )
                      row.find("td").eq(1).html($('#valor').val());
                      row.find("td").eq(3).html($('select[id="mes_id"] option:selected').text());
                      row.find("td").eq(2).html($('select[id="tipo_ingreso_id"] option:selected').text());
                  } else {
                      Swal.fire(
                          'Reintentar!',
                          'ERROR AL ACTUALIZAR',
                          'error'
                      )
                  }
                  $("#MyModal").modal("hide");
              }
          })
      }

      $('body').on('click', '.edit', function () {
          var id = $(this).val();
          row = $(this).parents("tr");
          $("#MyModal").modal();
          $.ajax({
              type: "GET",
              url: "/ingresos/GetIngresoById?IngresoId=" + id,
              success: function (data) {
                  var obj = JSON.parse(data);
                  $("#id_ingresos").val(obj[0].id_ingresos);
                  $("#valor").val(obj[0].valor);
                  $("#mes_id option[value='" + obj[0].mes_id + "']").attr("selected", true);
                  $("#tipo_ingreso_id option[value='" + obj[0].tipo_ingreso_id + "']").attr("selected", true);
              }
          })
      })
      function DeleteIngreso(Ingreso) {
          Swal.fire({
              title: 'Estás seguro?',
              text: 'Deseas eliminar el registro seleccionado!',
              type: 'warning',
              showCancelButton: true,
              confirmButtonText: 'Borrar',
              cancelButtonText: 'Cancelar'
          }).then((result) => {
              if (result.value) {
                  $.ajax({
                      type: "POST",
                      url: "/ingresos/DeleteIngreso?IngresoId=" + Ingreso,
                      success: function (result) {
                          if (result == "Eliminado") {
                              Swal.fire(
                                  'Borrado!',
                                  'El registro fue borrado con éxito',
                                  'success'
                              )
                              $(".row_" + Ingreso).remove();
                          } else {
                              Swal.fire(
                                  'Borrado!',
                                  'No se pudo eliminar el registro',
                                  'error'
                              )
                          }
                      }
                  })
              }
          })
      }
</script>





