<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title> Sistema Roles y Creditos | Dashboard</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Scripts/ScriptSistema/global/plugins.bundle.css")
    @Styles.Render("~/Content/css/style.bundle.css")
    @Styles.Render("~/Scripts/ScriptSistema/custom/fullcalendar/fullcalendar.bundle.css")

    @Scripts.Render("~/Scripts/ScriptSistema/global/plugins.bundle.js")
    @Scripts.Render("~/Scripts/ScriptSistema/scripts.bundle.js")
    @Scripts.Render("~/Scripts/ScriptSistema/pages/dashboard.js")

    <script>
        (function (h, o, t, j, a, r) {
            h.hj = h.hj || function () { (h.hj.q = h.hj.q || []).push(arguments) };
            h._hjSettings = { hjid: 1070954, hjsv: 6 };
            a = o.getElementsByTagName('head')[0];
            r = o.createElement('script'); r.async = 1;
            r.src = t + h._hjSettings.hjid + j + h._hjSettings.hjsv;
            a.appendChild(r);
        })(window, document, 'https://static.hotjar.com/c/hotjar-', '.js?sv=');
    </script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-37564768-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());
        gtag('config', 'UA-37564768-1');
    </script>
</head>
<body class="kt-page--loading-enabled kt-page--loading kt-page--fluid kt-header--fixed kt-header--minimize-topbar kt-header-mobile--fixed kt-quick-panel--right kt-demo-panel--right kt-offcanvas-panel--right kt-subheader--enabled kt-subheader--transparent kt-page--loading">
    <!-- begin::Header -->
    <!-- begin::MOBILE :: PENDIENTE DE ADAPTAR -->
    <div id="kt_header_mobile" class="kt-header-mobile  kt-header-mobile--fixed ">
        <div class="kt-header-mobile__brand">
            <a class="kt-header-mobile__logo" href="#">
                <img alt="Logo" src="../Content/media/logos/logo-5-sm.png" />
            </a>
            <div class="kt-header-mobile__nav">
                <div class="dropdown">
                    <button type="button" class="btn btn-pill btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        Sitemas Institucionales
                    </button>
                    <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md">
                        <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20">
                            <li class="kt-nav__item">
                                <a class="kt-nav__link active" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                    <span class="kt-nav__link-text">Talento Humano</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon-feed"></i></span>
                                    <span class="kt-nav__link-text">Gestion Academica</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-open-text-book"></i></span>
                                    <span class="kt-nav__link-text">Biblioteca</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-browser"></i></span>
                                    <span class="kt-nav__link-text">Pagina Principal</span>
                                </a>
                            </li>
                            <li class="kt-nav__separator"></li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon-list-2"></i></span>
                                    <span class="kt-nav__link-text">Hoja de Vida</span>
                                </a>
                            </li>
                            <li class="kt-nav__item">
                                <a class="kt-nav__link" href="#">
                                    <span class="kt-nav__link-icon"><i class="flaticon2-contract"></i></span>
                                    <span class="kt-nav__link-text">Editar Datos Personales</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="kt-header-mobile__toolbar">

            <button class="kt-header-mobile__toolbar-toggler" data-toggle="kt-tooltip" data-original-title="Opciones" id="kt_header_mobile_toggler"><span></span></button>
            <button class="kt-header-mobile__toolbar-topbar-toggler" data-toggle="kt-tooltip" data-original-title="Perfil" id="kt_header_mobile_topbar_toggler"><i class="flaticon-more-1"></i></button>
        </div>
    </div>
    <!-- begin::MOBILE :: PENDIENTE DE ADAPTAR -->

    <div class="container">
        <div class="kt-grid kt-grid--hor kt-grid--root">
            <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--ver kt-page">
                <div class="kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-wrapper " id="kt_wrapper">
                    <!-- begin:: Header Principal Institucional -->
                    <div id="kt_header" class="kt-header kt-grid__item kt-header--fixed " data-ktheader-minimize="on">
                        <!-- begin:Sistemas Institucionales y Usuario -->
                        <div class="kt-header__top">
                            <div class="kt-container ">
                                <!-- begin:: Brand -->
                                <div class="kt-header__brand kt-grid__item" id="kt_header_brand">
                                    <div class="kt-header__brand-logo">
                                        <a href="#">
                                            <img alt="Logo" src="../Content/media/logos/logo-5.png" />
                                        </a>
                                    </div>
                                    <div class="kt-header__brand-nav">
                                        <div class="dropdown">
                                            <button type="button" class="btn btn-pill btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                                                Sitemas Institucionales
                                            </button>
                                            <div class="dropdown-menu dropdown-menu-fit dropdown-menu-md">
                                                <ul class="kt-nav kt-nav--bold kt-nav--md-space kt-margin-t-20 kt-margin-b-20">
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link active" href="#">
                                                            <span class="kt-nav__link-icon"><i class="flaticon2-user"></i></span>
                                                            <span class="kt-nav__link-text">Talento Humano</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link" href="#">
                                                            <span class="kt-nav__link-icon"><i class="flaticon-feed"></i></span>
                                                            <span class="kt-nav__link-text">Gestion Academica</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link" href="#">
                                                            <span class="kt-nav__link-icon"><i class="flaticon2-open-text-book"></i></span>
                                                            <span class="kt-nav__link-text">Biblioteca</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link" href="#">
                                                            <span class="kt-nav__link-icon"><i class="flaticon2-browser"></i></span>
                                                            <span class="kt-nav__link-text">Pagina Principal</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__separator"></li>
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link" href="#">
                                                            <span class="kt-nav__link-icon"><i class="flaticon-list-2"></i></span>
                                                            <span class="kt-nav__link-text">Hoja de Vida</span>
                                                        </a>
                                                    </li>
                                                    <li class="kt-nav__item">
                                                        <a class="kt-nav__link" href="#">
                                                            <span class="kt-nav__link-icon"><i class="flaticon2-contract"></i></span>
                                                            <span class="kt-nav__link-text">Editar Datos Personales</span>
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <!-- end:: Brand --> <!-- begin:: Header Topbar -->
                                <div class="kt-header__topbar">
                                    <!--begin: Notifications -->
                                    <div class="kt-header__topbar-item dropdown">
                                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                                            <span class="kt-header__topbar-icon kt-header__topbar-icon--success">
                                                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1" class="kt-svg-icon">
                                                    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                        <rect x="0" y="0" width="24" height="24" />
                                                        <path d="M13.2070325,4 C13.0721672,4.47683179 13,4.97998812 13,5.5 C13,8.53756612 15.4624339,11 18.5,11 C19.0200119,11 19.5231682,10.9278328 20,10.7929675 L20,17 C20,18.6568542 18.6568542,20 17,20 L7,20 C5.34314575,20 4,18.6568542 4,17 L4,7 C4,5.34314575 5.34314575,4 7,4 L13.2070325,4 Z" fill="#000000" />
                                                        <circle fill="#000000" opacity="0.3" cx="18.5" cy="5.5" r="2.5" />
                                                    </g>
                                                </svg> <!--<i class="flaticon2-bell-alarm-symbol"></i>-->
                                            </span>
                                            <span class="kt-hidden kt-badge kt-badge--danger"></span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                                            <form>
                                                <!--begin: Head -->
                                                <div class="kt-head kt-head--skin-light kt-head--fit-x kt-head--fit-b">
                                                    <h3 class="kt-head__title">
                                                        User Notifications
                                                        &nbsp;
                                                        <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 new</span>
                                                    </h3>
                                                    <ul class="nav nav-tabs nav-tabs-line nav-tabs-bold nav-tabs-line-3x nav-tabs-line-brand kt-notification-item-padding-x" role="tablist">
                                                        <li class="nav-item">
                                                            <a class="nav-link active show" data-toggle="tab" href="#topbar_notifications_notifications" role="tab" aria-selected="true">Alerts</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_events" role="tab" aria-selected="false">Events</a>
                                                        </li>
                                                        <li class="nav-item">
                                                            <a class="nav-link" data-toggle="tab" href="#topbar_notifications_logs" role="tab" aria-selected="false">Logs</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <!--end: Head -->

                                            </form>
                                        </div>
                                    </div>
                                    <!--end: Notifications -->
                                    <!--begin: User bar -->
                                    <div class="kt-header__topbar-item kt-header__topbar-item--user">
                                        <div class="kt-header__topbar-wrapper" data-toggle="dropdown" data-offset="10px,10px">
                                            <span class="kt-hidden kt-header__topbar-welcome">Hi,</span>
                                            <span class="kt-hidden kt-header__topbar-username">Nick</span>
                                            <img class="kt-hidden-" alt="Pic" src="../Content/media/users/300_21.jpg" />
                                            <span class="kt-header__topbar-icon kt-header__topbar-icon--brand kt-hidden"><b>S</b></span>
                                        </div>
                                        <div class="dropdown-menu dropdown-menu-fit dropdown-menu-right dropdown-menu-anim dropdown-menu-xl">
                                            <!--begin: Head -->
                                            <div class="kt-user-card kt-user-card--skin-light kt-notification-item-padding-x">
                                                <div class="kt-user-card__avatar">
                                                    <img class="kt-hidden-" alt="Pic" src="../Content/media/users/300_25.jpg" />
                                                    <!--use below badge element instead the user avatar to display username's first letter(remove kt-hidden class to display it) -->
                                                    <span class="kt-badge kt-badge--username kt-badge--unified-success kt-badge--lg kt-badge--rounded kt-badge--bold kt-hidden">S</span>
                                                </div>
                                                <div class="kt-user-card__name">
                                                    Sean Stone
                                                </div>
                                                <div class="kt-user-card__badge">
                                                    <span class="btn btn-label-primary btn-sm btn-bold btn-font-md">23 messages</span>
                                                </div>
                                            </div>
                                            <!--end: Head -->
                                            <!--begin: Navigation -->
                                            <div class="kt-notification">
                                                <a href="../custom/apps/user/profile-1/personal-information.html" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-calendar-3 kt-font-success"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            Mi Perfil
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            Configuracion de la cuenta
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="../custom/apps/user/profile-3.html" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-mail kt-font-warning"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            Mi correo electronico Institucional
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            Bandeja de entrada
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="../custom/apps/user/profile-2.html" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-rocket-1 kt-font-danger"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            Mi Actividad
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            Ingresos al sistema y Alertas
                                                        </div>
                                                    </div>
                                                </a>
                                                <a href="../custom/apps/user/profile-3.html" class="kt-notification__item">
                                                    <div class="kt-notification__item-icon">
                                                        <i class="flaticon2-hourglass kt-font-brand"></i>
                                                    </div>
                                                    <div class="kt-notification__item-details">
                                                        <div class="kt-notification__item-title kt-font-bold">
                                                            Mis Tareas
                                                        </div>
                                                        <div class="kt-notification__item-time">
                                                            Proyectos y Tareas
                                                        </div>
                                                    </div>
                                                </a>
                                                <div class="kt-notification__custom kt-space-between">
                                                    <a href="../custom/user/login-v2.html" target="_blank" class="btn btn-label btn-label-brand btn-sm btn-bold">Cerrar Sesion</a>
                                                </div>
                                            </div>
                                            <!--end: Navigation -->
                                        </div>
                                    </div>
                                    <!--end: User bar -->
                                </div>
                                <!-- end:: Header Topbar -->
                            </div>
                        </div>
                        <!-- end:Sistemas Institucionales y Usuario -->
                        <!-- begin: Menu Nosotros -->
                        <div class="kt-header__bottom">
                            <div class="kt-container ">
                                <button class="kt-header-menu-wrapper-close" id="kt_header_menu_mobile_close_btn"><i class="la la-close"></i></button>
                                <div class="kt-header-menu-wrapper" id="kt_header_menu_wrapper">
                                    <div id="kt_header_menu" class="kt-header-menu kt-header-menu-mobile ">
                                        <ul class="kt-menu__nav ">
                                            <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">ASOCIACI&Oacute;N</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                    <ul class="kt-menu__subnav">
                                                        
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Ingresos", "index", "ingresos")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Egresos", "index", "egresos")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Tipo de Ingresos", "index", "tipoIngresos")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Tipo de Egresos", "index", "tipoEgresos")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Proveedores", "index", "proveedores")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Convenios", "index", "asociacionProveedor")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Ingreso a Asociación", "index", "empleadoAsociacion")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Aprobar Créditos", "indexA", "credito")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Cantidad Asignada", "index", "valorAsignado")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Reportes", "index", "#")</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">N&Oacute;MINA</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Gestión de Descuentos", "index", "descuento")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Reportes", "index", "#")</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">PROVEEDORES</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Valores Utilizados", "index", "valorUtilizado")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Editar Información", "indexp", "proveedores")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Consultar Consumos", "index", "valorUtilizado")</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                            <li class="kt-menu__item kt-menu__item--open kt-menu__item--here kt-menu__item--submenu kt-menu__item--rel kt-menu__item--open kt-menu__item--here" data-ktmenu-submenu-toggle="click" aria-haspopup="true">
                                                <a href="javascript:;" class="kt-menu__link kt-menu__toggle"><span class="kt-menu__link-text">USUARIO</span><i class="kt-menu__ver-arrow la la-angle-right"></i></a><div class="kt-menu__submenu kt-menu__submenu--classic kt-menu__submenu--left">
                                                    <ul class="kt-menu__subnav">
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Rol de Pagos detallado", "index", "informeRol")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Consultar Consumos", "index", "valorUtilizado")</span></p>
                                                        </li>
                                                        <li class="kt-menu__item " aria-haspopup="true">
                                                            <p class="kt-menu__link "><i class="kt-menu__link-bullet kt-menu__link-bullet--dot"><span></span></i><span class="kt-menu__link-text">@Html.ActionLink("Solicitar Créditos", "indexU", "credito")</span></p>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- end: Header Menu -->
                    </div>
                    <!-- begin:: CONTENIDOS -->

                    <div class="kt-body kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor kt-grid--stretch" id="kt_body">
                        <div class="kt-content kt-grid__item kt-grid__item--fluid kt-grid kt-grid--hor" id="kt_content">
                            
                            <!-- begin:: CONTENIDO -->
                            <div class="navbar-collapse collapse">
                                <div class="container body-content">
                                    @RenderBody()
                                </div>
                            </div>
                            <!-- end:: Content -->
                        </div>
                    </div>
                    <!-- begin:: CONTENIDOS -->

                </div>
            </div>
        </div>
        <!-- end:: Header -->
        <!-- end:: Page -->
        <!-- begin::Scrolltop -->
        <div id="kt_scrolltop" class="kt-scrolltop">
            <i class="fa fa-arrow-up"></i>
        </div>
        <!-- end::Scrolltop -->
        <!-- begin::Global Config(global config for global JS sciprts) -->
        <script>
            var KTAppOptions = { "colors": { "state": { "brand": "#3d94fb", "light": "#ffffff", "dark": "#282a3c", "primary": "#5867dd", "success": "#34bfa3", "info": "#3d94fb", "warning": "#ffb822", "danger": "#fd27eb" }, "base": { "label": ["#c5cbe3", "#a1a8c3", "#3d4465", "#3e4466"], "shape": ["#f0f3ff", "#d9dffa", "#afb4d4", "#646c9a"] } } };
        </script>
        <!-- end::Global Config -->
    </div>
</body>
<!-- end::Body -->
</html>