
@model Creditos .Models.mProveedor 

@{
     List<Creditos.Models.mProveedor> listProveedor = ViewBag.proveedores;
}
<h1>PROVEEDOR</h1>
     @using (Html.BeginForm("Store", "proveedores", FormMethod.Post))
     {
            <div class="form-group">
                <label>Persona Jurídica</label>
                @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridicas", @class = "form-control", @placeholder = "Persona Jurídica", @name= "persona_juridica" })
            </div>

            @*@Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value = "1" })*@

        <div class="form-group">
            <label>RUC</label>
            @Html.TextBoxFor(m => m.RUC, new { @id = "rucs", @class = "form-control", @placeholder = "RUC", @name = "RUC" })
        </div>


        <div class="form-group">
            <label>Nombre</label>
            @Html.TextBoxFor(m => m.nombre, new { @id = "nombres", @class = "form-control", @placeholder = "Nombre", @name = "nombre" })
        </div>

        <div class="form-group">
            <label>Descripción</label>
            @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcions", @class = "form-control", @placeholder = "Descripción", @name = "descripcion" })
        </div>


        <div class="form-group">
            <label>Email</label>
            @Html.TextBoxFor(m => m.email, new { @id = "emails", @class = "form-control", @placeholder = "Email", @name = "email" })
        </div>


        <div class="form-group">
            <label>Dirección</label>
            @Html.TextBoxFor(m => m.direccion, new { @id = "direccions", @class = "form-control", @placeholder = "Dirección", @name = "direccion" })
        </div>


        <div class="form-group">
            <label>Teléfono</label>
            @Html.TextBoxFor(m => m.telefono, new { @id = "telefonos", @class = "form-control", @placeholder = "Teléfono", @name = "telefono" })
        </div>
            
              <div>
                <input type="submit" value="Save" class="btn btn-default" />
              </div>
     }
        

        <table class="table-hover">
                <tr>
                    <th>Item</th>
                    <th>Persona Jurídica</th>
                    <th>RUC</th>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Email</th>
                    <th>Direción</th>
                    <th>Teléfono</th>
                </tr>

                @foreach (var item in listProveedor)
                {
                <tr class='row_@item.id_proveedor'>
                    <td>@item.id_proveedor</td>
                    <td>@item.persona_juridica</td>
                    <td>@item.RUC</td>
                    <td>@item.nombre</td>
                    <td>@item.descripcion</td>
                    <td>@item.email</td>
                    <td>@item.direccion</td>
                    <td>@item.telefono</td>
                    <td>
                       <a href='#' class='btn btn-danger'  onclick='DeleteProveedor(@item.id_proveedor)'><span class='glyphicon glyphicon-trash'></span></a>
                        <a href='#' class='btn btn-info' data-id="@item.id_proveedor" onclick='EditProveedor(@item.id_proveedor)'><span class='glyphicon glyphicon-edit'></span></a>
                    </td>
                </tr>
                }

            </table>
                <div class="modal fade" id="MyModal">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                                <a href="#" class="close" data-dismiss="modal">&times;</a>
                                <h4 id="ModalTitle">Modificar Proveedor</h4>
                        </div>
                            <div class="modal-body">
                                <form id="form">
                                    <fieldset id="SubmitForm">
                        @Html.HiddenFor(m => m.id_proveedor, new { @id = "id_proveedor" })
                        
                        <div class="form-group">
                            <label>Persona Jurídica</label>  
                            @Html.TextBoxFor(m => m.persona_juridica, new { @id = "persona_juridica", @class = "form-control", @placeholder = "Name*" })
                        </div>


                        <div class="form-group">
                            <label>RUC</label>  
                            @Html.TextBoxFor(m => m.RUC, new { @id = "RUC", @class = "form-control", @placeholder = "Name*" })
                        </div>

                        <div class="form-group">
                            <label>Nombre</label>  
                            @Html.TextBoxFor(m => m.nombre, new { @id = "nombre", @class = "form-control", @placeholder = "Name*" })
                        </div>

                        <div class="form-group">
                            <label>Descripción</label>  
                            @Html.TextBoxFor(m => m.descripcion, new { @id = "descripcion", @class = "form-control", @placeholder = "Name*" })
                        </div>

                        <div class="form-group">
                            <label>Email</label>  
                            @Html.TextBoxFor(m => m.email, new { @id = "email", @class = "form-control", @placeholder = "Name*" })
                        </div>

                       <div class="form-group">
                            <label>Dirección</label>  
                            @Html.TextBoxFor(m => m.direccion, new { @id = "direccion", @class = "form-control", @placeholder = "Name*" })
                       </div>


                      <div class="form-group">
                            <label>Teléfono</label>  
                            @Html.TextBoxFor(m => m.telefono, new { @id = "telefono", @class = "form-control", @placeholder = "Name*" })
                       </div>

                        @*@Html.HiddenFor(m => m.asociacion_id, new { @id = "asociacion_id", @Value="1" })*@
                       
                        <div class="form-group">
                            <a href="#" class="btn btn-block btn-danger" onclick="UpdateProveedor()">Save</a>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var row;
    function UpdateProveedor(Proveedor) {
        var data = $("#SubmitForm").serialize();
        $.ajax({
            type: "Post",
            url: "/proveedores/UpdateProveedor",
            data: data,
            success: function (result) {
                if (result == "Registro actualizado") {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Registro actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                    row.find("td").eq(1).html($('#persona_juridica').val());
                    row.find("td").eq(2).html($('#RUC').val());
                    row.find("td").eq(3).html($('#nombre').val());
                    row.find("td").eq(4).html($('#descripcion').val());
                    row.find("td").eq(5).html($('#email').val());
                    row.find("td").eq(6).html($('#direccion').val());
                    row.find("td").eq(7).html($('#telefono').val());
                } else {
                    Swal.fire({
                        position: 'top-end',
                        icon: 'error',
                        title: 'Error al actualizado',
                        showConfirmButton: false,
                        timer: 1500
                    })
                }
                $("#MyModal").modal("hide");
            }
        })
    }
    $(document).ready(function () {
        $('[data-id]').click(function () {
            row = $(this).parents("tr");
            var id = $(this).data("id")
            $("#MyModal").modal();
            $.ajax({
                type: "GET",
                url: "/proveedores/GetProveedorById?ProveedorId=" + id,
                success: function (data) {
                    var obj = JSON.parse(data);
                    $("#id_proveedor").val(obj[0].id_proveedor);
                    $("#persona_juridica").val(obj[0].persona_juridica);
                    $("#RUC").val(obj[0].RUC);
                    $("#nombre").val(obj[0].nombre);
                    $("#descripcion").val(obj[0].descripcion);
                    $("#email").val(obj[0].email);
                    $("#direccion").val(obj[0].direccion);
                    $("#telefono").val(obj[0].telefono);
                }
            })
        })
    })
    function DeleteProveedor(Proveedor) {
        Swal.fire({
            title: 'Estás seguro?',
            text: 'Deseas eliminar el registro seleccionado!',
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Borrar',
            cancelButtonText: 'Cancelar'
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    type: "POST",
                    url: "/proveedores/DeleteProveedor?ProveedorId=" + Proveedor,
                    success: function (result) {
                        if (result == "Eliminado") {
                            Swal.fire(
                                'Borrado!',
                                'El registro fue borrado con éxito',
                                'success'
                            )
                            $(".row_" + Proveedor).remove();
                        } else {
                            Swal.fire(
                                'Borrado!',
                                'No se pudo eliminar el registro',
                                'error'
                            )
                        }
                    }
                })
            }
        })
    }
</script>

